.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  gap: 10px;
  position: relative;

  span {
    font-size: 12px;
    font-weight: 600;
  }
}

.home-listing-type-wrapper {
  li {
    font-size: 14px;
  }

 .dropdown {
    background-color: white;
    z-index: 1;
    position: absolute;

    .dropdown-checkbox {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
