.clicked-search-with-search-word {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .text-input {
    flex: 1;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }
}
