.active{
    box-shadow: rgb(255 255 255) 0px 0px 0px 1px, rgb(166 229 255) 0px 0px 2px 3px, rgb(0 106 255) 0px 0px 2px 4px;
    box-sizing: border-box;

}

.focused {
    border-radius: 3px;
    box-shadow: 0 0 0 1px #272aff;
}

.search-container {
    display: flex;

    input {
        border-radius: 3px 0 0 3px;

        &:focus {
            outline: none
        }
    }
    .search_container__search_button {
        background-color: rgb(246 246 250);
        padding: 0px 10px 0px 15px;
        border-radius: 0px 3px 3px 0px;

        svg {
            width: 22px;
            height: 22px;
            fill: rgb(64, 64, 64);
        }
    }
}
