.clicked-search-with-search-word {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  overflow-x: hidden;

  .text-input {
    flex: 1;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }
}

.search-icon-wrapper {
  display: flex;
  height: 100%;
  min-width: 16px;
  margin: 0px 10px;

  .add-another {
    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .search_container__search_button {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    height: 100%;

    svg {
      fill: #666;
    }
  }
}
