.search-word-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: 4px;
  background-color: lightgray;
  gap: 10px;

  span {
    font-weight: bold;
    font-size: 14px;
  }

  .search-word-close-icon {
    min-width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
  }
}

.search-word-wrapper:not(:empty) {
  padding: 5px;

}

.search-word-wrapper:empty {
  padding: 0;
}
