.searchw-word-container {
  width: 100%;

  display: flex;
  align-items: center;

  .add-another {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .search-word-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 4px;
    background-color: lightgray;
    flex-shrink: 0;

    span {
      font-weight: bold;
      font-size: 14px;
    }

    .search-word-close-icon {
      width: 16px;
      height: 16px;
    }
  }

  .search-word-wrapper:empty {
    padding: 0;
  }

  .search-word-wrapper:not(:empty) {
    padding: 3px 10px;
    margin-right: 10px;
  }
}
