.splash-search-history-list-item {
  display: flex;
  width: 100%;

  &:hover {
    background-color: rgb(44 104 246);
    color: #fff;

    div {
      p {
        border-bottom: none;
      }
    }

    .splash-search-suggestion-icon {
      svg {
        g {
          stroke: #fff;

          path {
            stroke: #fff;
          }
        }
      }
    }
  }

  &:last-child:hover {
    border-radius: 0 0 3px 3px; 
  }

  .suggestions-item-container {
    width: 100%;
  }
}

.empty-search-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 51px;

  &:hover {
    background-color: rgb(44 104 246);

    .current-location {
      border-bottom: none;
    }

    p {
      color: #fff;
    }

    svg {
      path {
        stroke: #fff;
      }
    }
  }
  .splash-search-suggestion-icon {
    width: 67px !important;
  }
  .current-location {
    display: flex;
    width: 85% !important;
    align-items: center;
    border-bottom: 1px solid #ededed;

    p {
      width: 95%;
    }
  }
}
