.suggestion-item {
    display: flex;
    align-items: center;
    height: 51px;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;

    &:not(:last-child) {
        margin: 0 0 5px 0;
    }

    p {
        margin-left: 30px;
        color: #807e7e;
        font-weight: 500;
    }

    .highlighted {
        color: black;
        margin: 0px;
        font-weight: 500;
    }

    &:hover{
        background-color: rgb(44 104 246);
        span, p{
            color: #fff;
        }
    }
}
