@mixin shared-styles {
  display: flex;
  align-items: center;
  height: 51px;
  width: 100%;

  &:not(:last-child) {
    margin: 0 0 5px 0;
  }

  p {
    margin-left: 30px;
    color: #807e7e;
    font-weight: 500;
  }

  .highlighted {
    color: black;
    font-weight: 500;
    margin: 0px;
  }
}

.suggestion-item-splash {
  @include shared-styles;

  border-bottom: 1px solid #f0f0f0;

  &:hover {
    background-color: rgb(44 104 246);
    border-bottom: 1px solid rgb(44 104 246);
  }

  &:hover span,
  &:hover p {
    color: #fff;
  }
}


.suggestion-item-index {
  @include shared-styles;

  &:hover {
    background-color: rgb(243 250 254);
    border-radius: 6px;
  }

}
