.home-type-container {
  display: flex;
  flex-direction: column;
  gap: 130px;
  background: blue;

  .deselect-all-title-container {
    display: fles;
    flex-direction: column;
    background: #f5f5f5;
    color: #596b82;
    padding: 12px 16px;
    font-weight: 700;

    .deselect-title {
      margin-top: 20px;
      display: flex;
      align-items: center;
      width: 210px;
      gap: 5px;

      .deselect-btn {
        border-radius: 50%;
        width: 23px !important;
        background: #0D4599;
        color: white;
      }

      h6 {
        font-size: 14px;
        font-weight: 700;
        color: #0D4599;
      }

    }
  }
}
