.modal-area {
	background-color: #b21e1e;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
	z-index: 11;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}


._modal-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	line-height: 10;
	background: #f6f6f7;
	border: 0;
	box-shadow: 0;
	cursor: pointer;
}

._modal-close-icon {
	width: 25px;
	height: 25px;
	fill: transparent;
	stroke: black;
	stroke-linecap: round;
	stroke-width: 5;
}

._hide-visual {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.scroll-lock {
	overflow: hidden;
}
