@import "../../../mixins";

.left-pane {
    width: 32.6vw;
    height: 100vh;
}


.listing-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0px 0px 16px;
    gap: 10px;

    p {
        span{
            font-weight: 800;
        }
    }
}


.top-container {
    @include flexCenter();
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;

    .aprt_status {
        @include flexCenter();
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        p {
            font-weight: 800;
            font-size: 18px;
            line-height: 24px;
        }

        .sale {
            @include flexCenter();
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgb(236 102 88);
        }

        .rent {
            @include flexCenter();
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #8a2be2;
        }
    }
}

.follow-buttons-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 16px 0px 0px;
    gap: 10px;

    button {
        border-radius: 5px;
        font-weight: 800;
    }

    .github_btn {
        background-color: rgb(0, 106, 255);
        width: 70vw;
        color: white;
        padding: 10px;

        p {
            font-size: 12px;
            font-weight: 400;
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(35 81 182)
        }
    }

    .linkedin_btn {
        border: 1px solid rgb(35 81 182);
        color: rgb(35 81 182);
        width: 30vw;
        padding: 20px;
        font-size: 14px;

        &:hover {
            cursor: pointer;
            background-color: rgb(243 250 254)
        }
    }
}

.top-container__header {
    @include flexCenter();
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;

        span {
            font-weight: 800;
        }
    }

    div {
        display: flex;
    }
}


.listing-info__header-menu {
    .menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        border-top: 1px solid rgb(209 209 213);
        border-bottom: 1px solid rgb(209 209 213);
        padding: 15px;
    }

    .details {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid rgb(209 209 213);
        padding: 16px 0px;

        li {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }


        .details-icon {
            fill: rgb(31 68 148);
        }
    }
}

.overview {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0px;

    h1 {
        text-align: start;
        font-size: 24px;
        margin: 10px 0px;
    }

    div.keywords {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        p {
            background-color: #E0F2FF;
            color: #001751;
            border-radius: 5px;
            white-space: nowrap;
            padding: 2px 8px;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 14px;
        }
    }

    p {
        span {
            font-weight: 800;
            font-size: 16px;
        }
    }

    .overview-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        button {
            color: #0d4990;
            font-weight: 700;
        }
    }
}

.line-footer {
    display: flex;
    gap: 10px;

    p {
        span {
            font-weight: 700;
            font-size: 16px;
        }
    }
}
