.confirm-location-map-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header-for-sale {
        width: 1240px;
        margin-bottom: 20px;

        h1 {
            font-size: 36px;
            font-weight: 800;
            font-family: "Time New Roman", Times, serif;
            text-align: start;
        }

        hr {
            margin: 24px 0px;
        }

        h5 {
            font-size: 20px;
            font-weight: 700;
            font-family: "Open sans", Times, serif;
            text-align: start;
        }

        .currently-selected-coordinates{
            color: gray;
        }
    }


    .confirmation-buttons {
        display: flex;
        gap: 5px;
        margin: 22px;
        width: 1240px;

        .bttn {
            background-color: #0061FF;
            min-height: 44px;
            min-width: 44px;
            font-size: 16px;
            padding: 10px 15px;
            border-radius: 5px;
            font-weight: 700;
        }

        .next-page {
            color: white;

            &:hover {
                background-color: rgb(31 68 148);
            }
        }

        .move-coordinates {
            background-color: white;
            color: #0061FF;
            border: 1px solid #0061FF;

            &:hover {
                background-color: rgb(242 249 255);
            }
        }

    }
}
