/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&;700;800display=swap");
@import url("https://fonts.cdnfonts.com/css/times-new-roman");

* {
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.App {
	width: 90%;
	max-width: 700px;
	margin: 2em auto;
}

h1 {
	font-size: 50px;
	color: #2a2a33;
	font-weight: 800;
	line-height: 24px;
}
