.container {
    z-index: 0;
}

#navigation {
    height: 5vh;
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}


.grid-item {

    a {
        &:hover {
            color: rgb(44 104 244);
        }
    }
}

.left {
    padding: 0px 24px 0px 45px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    gap: 28px;

}



.right {
    padding: 0px 24px 0px 45px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    gap: 28px;
}

.search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/08/ZG_ZPA_08_21_Americana_ExtFront_1081_1440_desktopWebp-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% bottom;
    height: 408px;
    width: 100%;
    border-top: 2px solid #ebebeb;
    gap: 8%;
}

.search_container:nth-child(1) {}

.grid-item:nth-child(2) {}



.search_container>h1 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    line-height: 36px;
    max-width: 550px;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    filter: drop-shadow(0px 0px 5px #000);
    font-family: 'Times New Roman', sans-serif;
    font-size: 38px;
}

.search_container__search_bar {
    height: 70px;
    padding: 22px 0px 24px 22px;
    background-color: #F6F6FA;
    width: 613px;
}


.search_container__search_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
