.account_inputs_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;

  .account_inputs__label > Input:focus {
    box-shadow: rgb(255 255 255) 0px 0px 0px 1px,
      rgb(166 229 255) 0px 0px 2px 3px, rgb(0 106 255) 0px 0px 2px 4px;
  }

  .account_inputs__label:hover > Input {
    border-color: #006aff !important;
  }
}

.account_inputs__label {
  width: 100%;
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    padding: 9px 16px !important;
    margin-top: 5px !important;
    border-radius: 4px !important;
    border: 1px solid rgb(209, 209, 213) !important;
    background-color: rgb(246, 246, 250) !important;
    font-size: 16px !important;
    outline: none !important;
    height: 44px !important;
  }
}

.validation_list {
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
}

#submit_button {
  width: 100%;
  padding: 9px 16px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid rgb(209, 209, 213);
  background-color: rgb(40 95 246);
  color: white;
  font-size: 16px;
  outline: none;
  height: 44px;
  margin-top: 20px;

  &:disabled {
    background-color: #c1ceec;
  }
}

#login_form__terms_and_conditions {
  width: 100%;
  display: flex;
  justify-content: center;

  p {
    font-weight: 400;
    font-size: 12px;
    color: rgb(93 106 128);
  }

  #login_form__terms_and_conditions__terms_of_use_link {
    font-weight: 400;
    font-size: 12px;
    color: rgb(40 95 246);
    text-decoration: underline;
  }
}
