.account_inputs_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}

.account_inputs__label {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.account_inputs__label > input {
    width: 100%;
    padding: 9px 16px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 213);
    background-color: rgb(246, 246, 250);
    font-size: 16px;
    outline: none;
    height: 44px;
}

.validation_list {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0px;
}


#login_form__checkbox {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    gap: 8px;

}


#submit_button {
    width: 100%;
    padding: 9px 16px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 213);
    background-color: rgb(40 95 246);
    color: white;
    font-size: 16px;
    outline: none;
    height: 44px;
    margin-top: 20px;
}


#login_form__terms_and_conditions {
    width: 100%;
    display: flex;
    justify-content: center;
}

#login_form__terms_and_conditions > p {
    font-weight: 400;
    font-size: 12px;
    color: rgb(93 106 128);
}

#login_form__terms_and_conditions__terms_of_use_link {
    font-weight: 400;
    font-size: 12px;
    color: rgb(40 95 246);
    text-decoration: underline;
}


